@use 'sass:math';
@use '../common/vars' as *;

  @mixin clip-path-button-top{
    clip-path: polygon(0 10px, 50% 10px, 100% 10px, 100% 100%, 50% 100%, 0 100%);
    -webkit-clip-path: polygon(0 10px, 50% 10px, 100% 10px, 100% 100%, 50% 100%, 0 100%);
  }


  @mixin clip-path-button-top-hover {
    clip-path: polygon(0 10px, 50% 0, 100% 10px, 100% 100%, 50% calc(100% - 10px), 0 100%);
    -webkit-clip-path: polygon(0 10px, 50% 0, 100% 10px, 100% 100%, 50% calc(100% - 10px), 0 100%);
  }

  @mixin clip-path-mini{
    clip-path: polygon(30% 10px, 70% 5px, 90% 0, 100% 10px,
            calc(100% - 10px) 30%, calc(100% - 5px) 50%, calc(100% - 2px) 70%, calc(100% - 12px) 85%, calc(100% - 5px) 100%,
            70% calc(100% - 10px), 30% calc(100% - 5px), 10% calc(100% - 0px), 0 calc(100% - 10px),
            10px 70%, 5px 50%, 2px 30%, 12px 15%, 5px 0
    );
    -webkit-clip-path: polygon(30% 10px, 70% 5px, 90% 0, 100% 10px,
            calc(100% - 10px) 30%, calc(100% - 5px) 50%, calc(100% - 2px) 70%, calc(100% - 12px) 85%, calc(100% - 5px) 100%,
            70% calc(100% - 10px), 30% calc(100% - 5px), 10% calc(100% - 0px), 0 calc(100% - 10px),
            10px 70%, 5px 50%, 2px 30%, 12px 15%, 5px 0
    );
  }

  @mixin clip-path-mini-hover{
    clip-path: polygon(30% 2px, 70% 1px, 90% 0, 100% 2px,
            calc(100% - 2px) 30%, calc(100% - 1px) 50%, calc(100% - 2px) 70%, calc(100% - 3px) 85%, calc(100% - 1px) 100%,
            70% calc(100% - 2px), 30% calc(100% - 1px), 10% calc(100% - 0px), 0 calc(100% - 2px),
            2px 70%, 1px 50%, 1px 30%, 2px 15%, 1px 0
    );
    -webkit-clip-path: polygon(30% 2px, 70% 1px, 90% 0, 100% 2px,
            calc(100% - 2px) 30%, calc(100% - 1px) 50%, calc(100% - 2px) 70%, calc(100% - 3px) 85%, calc(100% - 1px) 100%,
            70% calc(100% - 2px), 30% calc(100% - 1px), 10% calc(100% - 0px), 0 calc(100% - 2px),
            2px 70%, 1px 50%, 1px 30%, 2px 15%, 1px 0
    );
  }

  @mixin clip-path-both{
    clip-path: polygon(
      /* A */
      -1px 0,
      /* AB side */
      5% 20px,
      15% 0,
      27% 17px,
      33% 10px,
      45% 17px,
      51% 2px ,
      77% 13px,
      83% 4px,
      93% 18px,
      /* B */
      calc(100% + 1px) 0,
      /* C */
      calc(100% + 1px) calc(100% - 20px),
      /* CD side */
      93% calc(100% - 2px),
      83% calc(100% - 16px),
      77% calc(100% - 7px),
      51% calc(100% - 18px),
      45% calc(100% - 3px),
      33% calc(100% - 10px),
      27% calc(100% - 3px),
      15% calc(100% - 20px),
      5% 100%,
      /* D */
      -1px calc(101% - 20px)
    );
    -webkit-clip-path: polygon(
      /* A */
      -1px 0,
      /* AB side */
      5% 20px,
      15% 0,
      27% 17px,
      33% 10px,
      45% 17px,
      51% 2px ,
      77% 13px,
      83% 4px,
      93% 18px,
      /* B */
      calc(100% + 1px) 0,
      /* C */
      calc(100% + 1px) calc(100% - 20px),
      /* CD side */
      93% calc(100% - 2px),
      83% calc(100% - 16px),
      77% calc(100% - 7px),
      51% calc(100% - 18px),
      45% calc(100% - 3px),
      33% calc(100% - 10px),
      27% calc(100% - 3px),
      15% calc(100% - 20px),
      5% 100%,
      /* D */
      -1px calc(101% - 20px)
    );
  }

  @mixin clip-path-bottom{
    clip-path: polygon(
      /* A */
      -1px 0,
      /* B */
      calc(100% + 1px) 0,
      /* C */
      calc(100% + 1px) calc(100% - 20px),
      /* CD side */
      93% calc(100% - 2px),
      83% calc(100% - 16px),
      77% calc(100% - 7px),
      51% calc(100% - 18px),
      45% calc(100% - 3px),
      33% calc(100% - 10px),
      27% calc(100% - 3px),
      15% calc(100% - 20px),
      5% 100%,
      /* D */
      -1px calc(100% - 20px)
    );
    -webkit-clip-path: polygon(
      /* A */
      -1px 0,
      /* B */
      calc(100% + 1px) 0,
      /* C */
      calc(100% + 1px) calc(100% - 20px),
      /* CD side */
      93% calc(100% - 2px),
      83% calc(100% - 16px),
      77% calc(100% - 7px),
      51% calc(100% - 18px),
      45% calc(100% - 3px),
      33% calc(100% - 10px),
      27% calc(100% - 3px),
      15% calc(100% - 20px),
      5% 100%,
      /* D */
      -1px calc(100% - 20px)
    );
  }

  @mixin clip-path-top{
    clip-path: polygon(
      /* A */
      -1px 0,
      /* AB side */
      5% 20px,
      15% 0,
      27% 17px,
      33% 10px,
      45% 17px,
      51% 2px ,
      77% 13px,
      83% 4px,
      93% 18px,
      /* B */
      calc(100% + 1px) 0,
      /* C */
      calc(100% + 1px) 101%,
      /* D */
      -1px 101%
    );
    -webkit-clip-path: polygon(
      /* A */
      -1px 0,
      /* AB side */
      5% 20px,
      15% 0,
      27% 17px,
      33% 10px,
      45% 17px,
      51% 2px ,
      77% 13px,
      83% 4px,
      93% 18px,
      /* B */
      calc(100% + 1px) 0,
      /* C */
      calc(100% + 1px) 101%,
      /* D */
      -1px 101%
    );
  }

  @mixin image-2x($image, $image2x) {
    background-image: url($image);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    filter: grayscale(70%);
    @media #{$tablets}{
      background-attachment: scroll;
    }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: url($image2x) !important;
    }
  }

  // Single side border-radius
  @mixin border-top-radius($radius) {
    border-top-right-radius: $radius;
    border-top-left-radius: $radius;
  }

  @mixin border-right-radius($radius) {
    border-bottom-right-radius: $radius;
    border-top-right-radius: $radius;
  }

  @mixin border-bottom-radius($radius) {
    border-bottom-right-radius: $radius;
    border-bottom-left-radius: $radius;
  }

  @mixin border-left-radius($radius) {
    border-bottom-left-radius: $radius;
    border-top-left-radius: $radius;
  }

  // BORDER RADIUS
  @mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
  }


  //user select
  @mixin userSelect($user) {
    -webkit-user-select: $user;
    -moz-user-select: $user;
    -ms-user-select: $user;
    user-select: $user;
  }

  //box sizing
  @mixin box-sizing($box) {
    box-sizing: $box;
    -moz-box-sizing: $box;
    -webkit-box-sizing: $box;
  }

  //placeholder
  @mixin placeholder {
    ::-webkit-input-placeholder {
      @content
    }
    :-moz-placeholder {
      @content
    }
    ::-moz-placeholder {
      @content
    }
    :-ms-input-placeholder {
      @content
    }
  }

  @mixin placeholder-color($color) {
    &::-webkit-input-placeholder {
      /* WebKit browsers */
      color: $color;
    }
    &:-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      color: $color;
    }
    &::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      color: $color;
    }
    &:-ms-input-placeholder {
      /* Internet Explorer 10+ */
      color: $color;
    }
  }

  @mixin placeholder-style($style) {
    &::-webkit-input-placeholder {
      /* WebKit browsers */
      font-style: $style;
    }
    &:-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      font-style: $style;
    }
    &::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      font-style: $style;
    }
    &:-ms-input-placeholder {
      /* Internet Explorer 10+ */
      font-style: $style;
    }
  }

  //   transition
  @mixin transition($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    transition: $transition;
  }

  //transform
  @mixin transform($transform) {
    -ms-transform: $transform;
    /* IE 9 */
    -webkit-transform: $transform;
    /* Chrome, Safari, Opera */
    transform: $transform;
  }

  // rotate
  @mixin rotate ($deg) {
    @include transform(rotate(#{$deg}deg));
  }

  // scale
  @mixin scale($scale) {
    @include transform(scale($scale));
  }

  // translate
  @mixin translate ($x, $y) {
    @include transform(translate($x, $y));
  }

  @mixin translateX ($x) {
    @include transform(translateX($x));
  }

  @mixin translateY ($y) {
    @include transform(translateY($y));
  }

  // translate rotate
  @mixin  translate-rotate ($x, $y, $deg) {
    @include transform(translate($x, $y)rotate(#{$deg}deg));
  }

  @mixin rotate3d($vector-x: $default-vector-x, $vector-y: $default-vector-y, $vector-z: $default-vector-z, $rotate: $default-rotate, $perspective: false) {
    $trans: rotate3d($vector-x, $vector-y, $vector-z, $rotate);
    @if $perspective {
      $trans: perspective($perspective) $trans;
    }
  }

  @mixin even() {
    &:nth-child(even) {
      @content
    }
  }

  @mixin odd() {
    &:nth-child(odd) {
      @content
    }
  }

  @mixin fontawesomeIcon($content) {
    content: $content;
    font-family: "Font Awesome 5 Free", sans-serif;
    font-weight: 900;
  }

  @mixin box-shadow($top, $left, $blur, $spread, $color, $inset: false) {
    @if $inset {
      -webkit-box-shadow: inset $top $left $blur $spread $color;
      -moz-box-shadow: inset $top $left $blur $spread $color;
      box-shadow: inset $top $left $blur $spread $color;
    }
    @else {
      -webkit-box-shadow: $top $left $blur $spread$color;
      -moz-box-shadow: $top $left $blur $spread $color;
      box-shadow: $top $left $blur $spread $color;
    }
  }

  @mixin selectArrow($arrow) {
    -webkit-appearance: $arrow;
    -moz-appearance: $arrow;
    appearance: $arrow;
  }

  @mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
      @content;
    }
    @-moz-keyframes #{$animationName} {
      @content;
    }
    @-o-keyframes #{$animationName} {
      @content;
    }
    @keyframes #{$animationName} {
      @content;
    }
  }

  @mixin animate($name, $duration, $iteration, $direction) {
    -webkit-animation-duration: $duration;
    -moz-animation-duration: $duration;
    -o-animation-duration: $duration;
    animation-duration: $duration;

    -webkit-animation-iteration-count: $iteration;
    -moz-animation-iteration-count: $iteration;
    -o-animation-iteration-count: $iteration;
    animation-iteration-count: $iteration;

    -webkit-animation-name: $name;
    -moz-animation-name: $name;
    -o-animation-name: $name;
    animation-name: $name;

    -webkit-animation-direction: $direction;
    -moz-animation-direction: $direction;
    -o-animation-direction: $direction;
    animation-direction: $direction;
  }