@use '../common/vars' as *;
@use '../common/mixins' as *;

.login_content{
  @extend .main_content;
  text-align: center;
  &_form{
    width: 300px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    @media #{$phones-big}{
      gap: 10px;
    }
    input{
      width: 100%;
      @extend .input;
    }
    label{
      font: $fontText;
      width: 100%;
      text-indent: 10px; //margin-left: 10px;
      text-align: left;
      &:has(+ input:focus) {
        color: darkred;
        font-weight: bold;
      }
    }

  }
  > a{
    cursor: pointer;
    text-align: center;
    font: $fontText;
  }
  .hide{
    display: none;
  }
}