<header class="main_header" id="section_header">
    <div class="main_header_logo">
        <a class="main_header_logo_link" onclick="window.location.reload()">ACTIVE&nbsp;STUDENTS</a>
    </div>
</header>
